:root {
   /*--min-width-pop-window        : 15rem;
   --min-height-pop-window       : 17rem;*/
   --min-width-pop-window        : 80vw;
   --min-height-pop-window       : 80vh;
}

::-webkit-scrollbar {
   width: 1rem;
   height: 1rem;
   background-color: #7997c56d;
}

::-webkit-scrollbar-thumb {
   background-color: #2e51836d;
   border-radius: 1rem;
}

.open-widget {
   position: fixed;
   height: 1rem;
   width: 5rem;
   z-index: 2;
   top: 3rem;
   right: 0;
}

.open-widget > * {
   color: rgb(38, 112, 186);
   font-size: 3rem;
   position: absolute;
   z-index: 2;
   padding: 0 1rem 0 1rem;
   top:0;
   left: 0;
}

.open-widget > .move-open-widget {
   font-size: 1.5rem;
   color: rgb(28, 78, 129);
   top: 3.5rem;
   left: -0.5rem;
 }

.pop-window {
   min-width: var(--min-width-pop-window);
   min-height: var(--min-height-pop-window);
   width: 29vw;
   height: 45vh;
   /*left: 33vw;
   top: 23vh;*/
   left: 10vw;
   top: 10vh;
}

.title-pop-window .icon-pop-window {
   display: flex;
}

.title-pop-window .icons-pop-window a { 
   box-shadow: 0 0 0 0;
   padding: 0 0 0 0.25rem;
}

.title-pop-window .icons-pop-window a:hover i { 
   color: #a09c9c;
}

.title-pop-window .icons-pop-window i {
   font-size: 2.5rem; 
   padding-left: 0.5rem;
}


.title-pop-window {
  /* display: flex;
   flex-wrap: nowrap;*/
}

.btns-pop-window {
   --bs-nav-tabs-border-color: var(--bs-border-color);
   --bs-nav-tabs-border-width: var(--bs-border-width);
   border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
   height: 100%;
   border-radius: 0 1rem 0 0;
   display: flex;
   width: auto;
}

.title-pop-window .nav-tabs {
   /*display: flex;
   flex-wrap: nowrap;*/
   float: left;
   font-size: 1.4rem;
   border-radius: 0 0 0 0;
}

.tabs-like-title {
}

.left-pop-window {
   left: 0 !important;
   top: 0 !important;
   height: 100vh !important;
   width: calc( 2 * var(--min-width-pop-window) - 1rem) !important;
   border-radius: 0 !important;
}

.right-pop-window {
   right: 0 !important;
   top: 0 !important;
   height: 100vh !important;
   width: calc( 2 * var(--min-width-pop-window) ) !important;
   border-radius: 0 !important;
   transform: translateX(50%);
}

.top-pop-window {
   left: 0 !important;
   top: 0 !important;
   width: 100vw !important;
   height: calc( var(--min-height-pop-window) ) !important;
   border-radius: 0 !important;
}

@media screen and (max-width: 768px) {

   .left-pop-window,
   .right-pop-window, 
   .top-pop-window {
      left: 0 !important;
      top: 0 !important;
      width: 100vw !important;
      min-height: var(--min-height-pop-window) !important;
      height: var(--min-height-pop-window) !important;
      border-radius: 0 !important;
   }

}

.left-pop-window .close-pop-window,
.right-pop-window .close-pop-window,
.top-pop-window .close-pop-window {
   border-radius: 0 !important;
}

.left-pop-window .close-pop-window {
   border-radius: 0;
}

.title-pop-window .nav-tabs .nav-link {
   border: 0.1rem solid rgb(137, 167, 191);
   color: black;
   margin-bottom: 0; /* Saca pequena linea negra de bootstrap */
}

.title-pop-window .nav-tabs .nav-link:not(.active):hover {
   background-color: rgb(181, 194, 205);
}

.title-pop-window .nav-tabs .nav-link,
.title-pop-window .nav-tabs .nav-link.active {
   border-bottom: 0 ;
}

.title-pop-window .nav-tabs .nav-link.active {
   font-weight: bold;
}

.pop-window > .tab-content {
    overflow-y: auto;
    height: 100%;
}

.pop-window > .tab-content > .tab-pane {
   text-align: center;
   height: 100%;
}

.pop-window > .tab-content > .tab-pane > div {
   margin: 1rem;
   display: inline-block;
}

.pop-window > .tab-content > .tab-pane .grid-stack-item {
   width: 12rem;
   aspect-ratio: 1/1;
}
 
.pop-window > .tab-content > .tab-pane .grid-stack-item svg.highcharts-root {
   width: 100%;
}

.pop-window > .tab-content > .tab-pane .grid-stack-item svg.highcharts-root .highcharts-title {
  
}

.pop-window > .tab-content > .tab-pane .grid-stack-item div.grid-stack-item-content,
.pop-window > .tab-content > .tab-pane .grid-stack-item div.grid-stack-item-content > * {
   height: 100%;
}

.hide {
   display: none;
}


.btns-pop-window .title-txt-pop-window .dropdown {
   display: flex;
}

.btns-pop-window .title-txt-pop-window .dropdown .dropdown-toggle{
   color: white;
   font-size: 1.5rem;
   border-color: transparent;
}

.btns-pop-window .title-txt-pop-window .dropdown .dropdown-toggle:focus{
   background-color: rgba(45, 99, 170, 0.903);
}

.btns-pop-window .title-txt-pop-window .dropdown .dropdown-item {
   font-size: 1.5rem;
}