.tabs-ww {
    float: left;
    font-size: 1.4rem;
}

.tabs-ww i {
    font-size: 1.8rem;
}

.tabs-ww .nav-link {
     margin-bottom: 0;
    /* Saca pequena linea negra de bootstrap */
}

.panes-ww {
    overflow-y: auto;
    height: 100%;
}

.panes-ww > .tab-pane {
    text-align: center;
}