div.btns-pop-window
    div.move-pop-window(href="#")
        div.title-pop-window
            div.title-label-pop-window Title
            //+bs-dropdown("Temperatura")
                +bs-dropdown-item("Temperatura", "#")
                +bs-dropdown-item("Humedad", "#")
                +bs-dropdown-item("Intensidad", "#")
        div.empty-head-pop-window
    a.pin-pop-window(class="hide" href="#")
        i.bi-pin-angle
    a.auto-pop-window(class="hide" href="#")
        i.bi-unlock-fill
    a.maxmin-pop-window(href="#")
        i.max-pop-window(class="bi-aspect-ratio")
        i.min-pop-window(class="bi-fullscreen-exit hide")
    a.close-pop-window(href="#")
        i.bi-eye-slash