div#chart-window(class="pop-window closeByDefault hide") 

    div.head-pop-window
        include btns-window.pug
    
    div.window-content
        div
            div#chart-preview
                img(src="https://i.stack.imgur.com/Xrx2q.png")
            div#chart-config
                +bs-accordion("sources")
                    +bs-accordion-item("Fuente de datos", "source-1", "sources")
                        +bs-select("Fuente", "sources-list")
                            +bs-option("new-source-config", "Crear nueva fuente de datos")
                            +bs-option("dht11", "DHT11")
                        div.sel-content.sources-list
                            div.sel-pane(id='new-source-config')
                                include create-source.pug 
