
/* Vertical Icon Menu ((VIM)*/

.VIMenu {
    /*min-width: 4.5rem;*/
    max-width: 30vh;                            /* Se setea el ancho del menu */
    height: 100vh;                              /* El menu es justo el alto de la ventana */
}                                               /* Al cargarse el contenido con <object> el menu queda fijo */

/* Item del menu */

.VIMenu .nav-pills .nav-item {
    border-bottom: 1px solid #dee2e6;          /* Divisor entre iconos */
    border-radius: 0 !important;                 /* Quito las puntas redondeadas de bootstrap */
}

.nav-link {
    border-radius: 0 !important; 
}

/* Menu vertical derecho (RVIM)*/

#RVIMenu {
    margin-left: auto;                           /* Ubicado a la derecha */
}

.contract-VIM:hover, 
.extend-VIM:hover,
.hide-VIM:hover, 
.show-VIM:hover,
.link-VIM:hover {
    background-color: rgb(228, 236, 244);
}

/* Botones (<a>) para visualizar menu*/

.contract-VIM, 
.extend-VIM,
.hide-VIM, 
.show-VIM {
    padding:0 6px 0 6px;
    margin-right: auto;                         /* Centrados */
}


/* Contenido del menu expandido
   Boton para mostrar si estao culto el VIM 
   Boton para contraer si esta expandido el VIM */

.expanded-content-VIM,
.show-VIM, 
.contract-VIM {
    display: none;
}


/* Boton (<a>) para mostrar si se oculta el VIM, esta fuera de VIM */

.show-VIM {
    position: absolute;                         /* Libera el espacio para la pagina al ocultarse el menu */
}


/* Boton (<a>) para esconder */
.contract-VIM,
.hide-VIM {
    transform:scaleX(-1);                       /* Se invierte la flecha */
}


/* Boton (<a>) para contraer */

.contract-VIM {
    margin-left: auto;                          /* se tira a la izquierda al estar expandido el menu */
    margin-right: unset;                        /* estaba setead por ser parr (odd) */
}

/* Iconos (svg) para expandir y contraer */

.hide-VIM svg, 
.show-VIM svg,
.extend-VIM svg, 
.contract-VIM svg {
    width: 15px !important;                                /* Los botones de expandir/ocultar son mas chicos, van dos juntos */
}

 /* Iconos (svg) */

.VIMenu .nav-pills .nav-item .nav-link svg,
.expanded-title-VIM svg,
.show-VIM svg {
    display: inline-block;    
    width: 24px;
    height: 40px;
}

.VIMenu .nav-pills .nav-item .nav-link svg {
    fill: currentColor;
}

.show-VIM {
    fill: #0d6efd !important;                         /* Libera el espacio para la pagina al ocultarse el menu */
}

/* Boton colapsable del menu expandido */

.expanded-title-VIM {
     height: 56px;                               /* Los iconos son de tamano fijo , asi quedan alineados */
}


/* Boton colapsable del tipo <a> del menu expandido. 
 * Se separa para dar la posibilidad de usar como 
 * big-btn-VIM otros tag  
 */

a.expanded-title-VIM {
    display: flex;                              /* Estas tres permiten centrar el texto de un <a>*/
    align-items: center;
    justify-content: center;
}