.closeByDefault {
    transform: translateX(-100vw);
    opacity: 20%;
}

:root {
    --final-opacity: 90%;
    --anim-duration: 0.25s;
}

@keyframes open {
    0% {
        transform: translateX(0vw);
        opacity: 0%;
    }
    100% {
        transform: translateX(0vw);
        opacity: var(--final-opacity);
    }
}

.open {
    transform: translateX(0vw);
    opacity: var(--final-opacity);
}

.closing,
.opening {
    animation-name: open;
    animation-duration: var(--anim-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.closing {
    animation-direction: reverse;
}

@keyframes leave {
    0% {
        transform: translateX(0vw);
        opacity: 0%;
    }

    100% {
        transform: translateX(0vw);
        opacity: var(--final-opacity); 
        height: 5%;
        width: 5%;
    }
}

.coming,
.leaving {
    animation-name: leave;
    animation-duration: var(--anim-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.coming {
    animation-direction: reverse;
}
