:root {
   --min-width-pop-window: 15rem;
   --min-height-pop-window: 17rem;
}

.fix-preview {
   opacity: 40% !important;
}

@media screen and (min-width: 769px) {
   .left-pop-window {
      left: 0 !important;
      top: 0 !important;
      height: 100vh !important;
      width: var(--min-width-pop-window);
      border-radius: 0 !important;
   }

   .right-pop-window {
      left: 100% !important;
      translate: -100%;
      top: 0 !important;
      height: 100vh !important;
      width: var(--min-width-pop-window);
      border-radius: 0 !important;
   }

   .top-pop-window {
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      height: auto ;
      border-radius: 0 !important;
   }
}

@media screen and (max-width: 768px) {

   .left-pop-window,
   .right-pop-window,
   .top-pop-window {
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      min-height: var(--min-height-pop-window) !important;
      height: auto ;
      border-radius: 0 !important;
   }

}

.right-pop-window .close-pop-window ,
.left-pop-window  .close-pop-window ,
.top-pop-window   .close-pop-window {
   border-radius: 0 !important;
}


