.dbw-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 95% 5%;
}

.nav-tab {
    width: 100%;
}

.close-pop-window {
    border-bottom: 0.01rem solid rgb(236, 218, 218);
    display: inline;
    height: 100%;
    width: 100%;
 }