div.open-widget

    a#open-proj(class="closeByDefault open" href="#")
        i.bi-inboxes-fill

    a#open(class="closeByDefault" href="#")
        i.bi-pencil-square

    a.move-open-widget(href="#")
        i.bi-arrows-move