body {
    text-align: center;
}
body p {
    text-align: justify;
}
body div {
    text-align: center;
    display: inline-block;
}
div input, button{
    display: block;
}

button {
    display: block;
    margin: auto;
}