html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.pop-window {
    height: 80vh;
    width: 66vw;
    max-width: 99vw;
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

/* Ah sido importante al usar con gridstack */
.pop-window.ui-resizable {
    position: absolute ;
}

.btns-pop-window {
    width: 100%;
}

.pop-window-btns {
    display: grid;
    grid-template-columns: 50% 50%;
 }

.move-pop-window,
.close-pop-window {
    height: 3rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    float: right;
}

.close-pop-window:hover {
    box-sizing : border-box;
    padding: 0.1rem;
}
