html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.pop-window {
    height: 80vh;
    width: 70vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.hrz-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 95% 5%;
}

.nav-tab {
    width: 100%;
}

.close-pop-window {
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.close-pop-window:hover {
    box-sizing : border-box;
    padding: 0.1rem;
}
