:root {
    --btns-pop-window-size: 3rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.pop-window {
    height: 80vh;
    width: 66vw;
    max-width: 99vw;
    position: fixed !important;
    left: 17vw;
    top: 10vh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.btns-pop-window > * {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.btns-pop-window .title-txt-pop-window { 
    height: 100%;
    width: auto;
    margin: 0;
    color: rgb(218, 229, 239);
    display: flex;
    align-items: center;
    justify-content: start;
}

.btns-pop-window .title-txt-pop-window .title-label-pop-window { 
    padding-left: 2rem;  
}

.empty-title-pop-window {
    width: 100%;
}

.move-pop-window{
    width: 100% !important;    
}
 
.close-pop-window {
    height: 100%;
}

.btns-pop-window {
    
    /*display: grid;*/
    /*width: 100%;*/
    /*grid-template-columns: auto var(--btns-pop-window-size);*/
 }

.move-pop-window{
    /*width: 100%;*/
    width: var(--btns-pop-window-size);
    text-align: center;
}
.close-pop-window {
    width: var(--btns-pop-window-size);
    text-align: center;
}

.move-pop-window,
.close-pop-window {
    text-decoration: none;
    padding-right: 1rem;
    /*margin-left: auto;*/
    /*float: right;*/
}

