.closeByDefault {
    transform: translateX(-100vw);
}

:root {
    --final-opacity: 100%;
}

@keyframes open {
    0% {
        transform: translateX(0vw);
        opacity: 0%;
    }
    100% {
        transform: translateX(0vw);
        opacity: var(--final-opacity);
    }
}

.open {
    transform: translateX(0vw);
    opacity: var(--final-opacity);
}

.closing,
.opening {
    animation-name: open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.closing {
    animation-direction: reverse;
}

