+bs-input("Nombre", "Fuente de datos")
+bs-select("Protocolo", "protocol")
    +bs-option("mqtt-config", "MQTT")
    +bs-option("sql-config" , "SQL")
+bs-input("URL/IP", "http://")
+bs-input("Usuario")
+bs-input("Contaseña")
div.sel-content.protocol
    div.sel-pane(id='mqtt-config')
        +bs-input("Topico", "Sensor1/var1")
    div.sel-pane(id="sql-config", class="hide")
        +bs-textarea("Query", 2, "SELECT *\nFROM ;")
